
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kevin Cheng</title>
  <link rel="icon" href="https://lh3.googleusercontent.com/RFxGOIvelOS8VY1_iT68dyd-5wCAm5nKvk45I_9HFW7LVGuZICvjGQehyFYqggBufy-LpVsnsboitFE8aaidzN8dY_9PfpexDr5K9i9bIUwpLq-2psz-gPvr5aozZWGEjaTDB0oO3jc2u4HzAQQ3T3oJRWulj4vs6xFg3j82o6Mw0UFKX9KqnBD2vSfxm0Fg_jRJO5V0CXdN6qToyrUG8xvLQt4d60GtAy0Kp9dEvQya27Kwd485tSpMlTv8rRPMl7sZ_Vzlh-rn2IxskVN17fJVeMU-Q_3wC-cAk8jQwd6kJ1aIHSLsyY7Ope5B7v90bFA5i2Rl5LT5NX5fvlknotbqNnExUeCeMvAk-z6_EVKqvjY5fGqrbyAfLhMFMLlK6ymR_14AQTvbOvVCJrRruabCL4yC540IodlcojDeSr9RIaUFdhomKVssWQth3wLyAygUE0xmUd2f0UFDe9wiDK3_5eFntUH-IvCv36Fu-lo8PZqyTM1yFyjqOVMAZMbJLyv3j_ViSwbHJqqBl8poosqz8TcdvHxK0sgsvAzL0A1tmUN119YWDDLNbJu4yH2SFz4yYIkGlRwMplSzcqujQktJh4_67Hko5lc6NyjRzA26zrLNzFioi1dlhh2T9_gedBu21JLKS_uzuNVofVpOmjwwlL8XkfVZLpQRuM9qUjnEH-OMEiQORw=s512-no">


  <!-- Font Awesome Icons -->
  <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="https://blackrockdigital.github.io/startbootstrap-creative/css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3 bg-dark text-white" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/bio">Kevin Cheng</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/bio">Bio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/work">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>



<!-- About Section -->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">We've got what you need!</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>


  <!-- Portfolio Section -->
  <section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://i.imgur.com/04QxnNV.jpg">
            <img class="img-fluid" src="https://i.imgur.com/04QxnNV.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://i.imgur.com/04QxnNV.jpg">
            <img class="img-fluid" src="https://i.imgur.com/04QxnNV.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://i.imgur.com/04QxnNV.jpg">
            <img class="img-fluid" src="https://i.imgur.com/04QxnNV.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://i.imgur.com/04QxnNV.jpg">
            <img class="img-fluid" src="https://i.imgur.com/04QxnNV.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://i.imgur.com/04QxnNV.jpg">
            <img class="img-fluid" src="https://i.imgur.com/04QxnNV.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://i.imgur.com/04QxnNV.jpg">
            <img class="img-fluid" src="https://i.imgur.com/04QxnNV.jpg" alt="">
            <div class="portfolio-box-caption p-3">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
      <a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Download Now!</a>
    </div>
  </section>

  <footer class=" py-5">
    <div class="container">
      <div class="small text-center text-muted">Kevin Cheng 2019 &copy; | Last updated Jun. 2019</div>
    </div>
  </footer>









  <!-- Bootstrap core JavaScript -->
  <script src="https://blackrockdigital.github.io/startbootstrap-creative/vendor/jquery/jquery.min.js"></script>
  <script src="https://blackrockdigital.github.io/startbootstrap-creative/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://blackrockdigital.github.io/startbootstrap-creative/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://blackrockdigital.github.io/startbootstrap-creative/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="https://blackrockdigital.github.io/startbootstrap-creative/js/creative.min.js"></script>

</body>

</html>
