
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://lh3.googleusercontent.com/RFxGOIvelOS8VY1_iT68dyd-5wCAm5nKvk45I_9HFW7LVGuZICvjGQehyFYqggBufy-LpVsnsboitFE8aaidzN8dY_9PfpexDr5K9i9bIUwpLq-2psz-gPvr5aozZWGEjaTDB0oO3jc2u4HzAQQ3T3oJRWulj4vs6xFg3j82o6Mw0UFKX9KqnBD2vSfxm0Fg_jRJO5V0CXdN6qToyrUG8xvLQt4d60GtAy0Kp9dEvQya27Kwd485tSpMlTv8rRPMl7sZ_Vzlh-rn2IxskVN17fJVeMU-Q_3wC-cAk8jQwd6kJ1aIHSLsyY7Ope5B7v90bFA5i2Rl5LT5NX5fvlknotbqNnExUeCeMvAk-z6_EVKqvjY5fGqrbyAfLhMFMLlK6ymR_14AQTvbOvVCJrRruabCL4yC540IodlcojDeSr9RIaUFdhomKVssWQth3wLyAygUE0xmUd2f0UFDe9wiDK3_5eFntUH-IvCv36Fu-lo8PZqyTM1yFyjqOVMAZMbJLyv3j_ViSwbHJqqBl8poosqz8TcdvHxK0sgsvAzL0A1tmUN119YWDDLNbJu4yH2SFz4yYIkGlRwMplSzcqujQktJh4_67Hko5lc6NyjRzA26zrLNzFioi1dlhh2T9_gedBu21JLKS_uzuNVofVpOmjwwlL8XkfVZLpQRuM9qUjnEH-OMEiQORw=s512-no">

    <title>Kevin Cheng</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/css/stylish-portfolio.min.css" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/css/creative.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3 bg-dark text-white" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/bio">Kevin Cheng</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/bio">Bio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/work">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
<!--
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Kevin Cheng</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/bio">Bio</a>
        <a class="p-2 text-dark" href="/work">Work</a>
        <a class="p-2 text-dark" href="/contact">Contact</a>

      </nav>

    </div>

    -->

    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">

          <img class="img-fluid" src="https://i.imgur.com/04QxnNV.jpg" alt="">


          <div>&nbsp</div>
          <div>&nbsp</div>
          <div>&nbsp</div>

          <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">

            <h4  style="color:#009FCC" >HELLO THERE!</h4> <!-- 裡面本來有加 class="display-4" -->
            <p>&nbsp</p>
            <p class="lead">
                  My name is Kevin, a programmer and designer from Taiwan. I enjoy solving puzzles, advocating good design, working on cool projects, and obsessing over analyzing data in works of commerce, science, social science.

                  You can check out some of my most recent work here.
            </p>
            <p>&nbsp</p>
            <p>&nbsp</p>



            <h4  style="color:#009FCC" >EDUCATION</h4>
            <p>&nbsp</p>

            <p class="lead">
                I am a Management of Information System major with minors in Japanese literature and culture. Currently a graduate at Chengchi University, I expect to get my baccalaureate by June 2019.
            </p>

            <h4 style="font-weight:bold">B.A. in Management of Information System</h4>
            <p class="lead">Minor in Japanese literature and culture</p>
            <p class="lead">Chengchi University, Sep 2014 - June 2019(expected)</p>


            <p>&nbsp</p>
            <p>&nbsp</p>


            <h4  style="color:#009FCC" >Software Engineering</h4>
            <p>&nbsp</p>

            <p class="lead">
                Sleepless nights staring at bug-infested code aside, venturing into the vast landscape that is Management of Infromation System has thus far been a fun journey. I especially appreciate the ability that software engineers have to bring an idea from conception to life. The idea of creating something neat and innovative thrills me.
            </p>


            <p>&nbsp</p>
            <p>&nbsp</p>

            <h4  style="color:#009FCC" >E-commerce Competition</h4>
            <p>&nbsp</p>

            <p class="lead">
                I compel myself to emerge from the lonely but comfortable walls of my room into the unknown outdoors from time to time. I enjoy jogging, swimming, and playing tennis. This year, I am trying my hand at hike and pole marathon.
            </p>

            <img class="img-fluid" src="https://i.imgur.com/CCO9Omu.jpg" alt="">


            <p>&nbsp</p>
            <p>&nbsp</p>


            <h4  style="color:#009FCC" >PHYSICAL EXERTION</h4>
            <p>&nbsp</p>

            <p class="lead">
                I compel myself to emerge from the lonely but comfortable walls of my room into the unknown outdoors from time to time. I enjoy jogging, swimming, and playing tennis. This year, I am trying my hand at hike and pole marathon.
            </p>

            <img class="img-fluid" src="https://i.imgur.com/Ec5f0hS.jpg" alt="">


            <p>&nbsp</p>
            <p>&nbsp</p>


            <h4  style="color:#009FCC" >CURRICULUM / SELECTED COURSEWORK</h4>
            <p>&nbsp</p>

            <p class="lead"> Management of Information System</p>

            <p>Introduction to Computing (Python)•Discrete Structures•Object-Oriented Programming (Java)•Data Structures•Web Programming (HTML/CSS/JavaScript/PHP)•Functional Programming (OCaml)•Computer System Organization•Operating Systems•Computer Game Architecture•Mobile Game Architecture•Artificial Intelligence•Computer Networks•Algorithms•Computer Graphics•Database Systems•Machine Learning</p>



            <p class="lead"> Japanese literature and culture</p>
            <p>&nbsp</p>



            <p>&nbsp</p>
            <p>&nbsp</p>


            <h4  style="color:#009FCC" >LET’S WORK TOGETHER.</h4>
            <p>&nbsp</p>

            <p class="lead">
                A resume and/or transcript is available upon <a href="/contact">request</a>.
            </p>



          </div>


        </div>
      </div>
    </section>









<!-- 目前用不到
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
          </div>
        </div>
      </div>  -->

      <footer class=" py-5">
        <div class="container">
          <div class="small text-center text-muted">Kevin Cheng 2019 &copy; | Last updated Jun. 2019</div>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
